body {
    background-color: #0f1526;
    color: azure;
    font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #0f1526;
    padding: 15px;
    width: 100%;
}
.social:hover {
    filter: brightness(10);
}
.container {
    background-color: #202945;
}
.social {
    margin: 2px;
}
.dow {
    height: 20px;
    margin-right: 4px;
}
.fade-in-left {
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
}
@keyframes fadeInLeft {
    0% {
    opacity: 0;
    transform: translateX(-50px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}
.fade-in-right {
    animation-name: fadeInRight;
    animation-duration: 1.7s;
}
@keyframes fadeInRight {
    0% {
    opacity: 0;
    transform: translateX(50px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}
h1 {
    font-size: 6.5em;
}
h2 {
    font-size: 3em;
    opacity: 70%;
}
.right-nav{
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
}
.zmadho {
    font-size: 26px;
    color: #acc2ff;
}
.cv {
    align-items: center;
    border: 1px solid #293455;
    border-radius: 5px;
    padding: 7px 10px;
    margin: auto;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: auto;
    background-color: #202945;
}
.profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 50px;
}
.about {
    background-color: #202945;
    width: 100%;
    height: 50px;
    align-items: center;
}
.test {
    width: 150px;
    height: 50px;
    align-items: center;
    padding: 15px;
    color: azure;
    font-size: 25px;
    opacity: 50%;
    text-decoration: none;
}
.informacion {
    padding: 30px;
}
.gif {
    width: 42%;
    height: auto;
    margin: 15px;
}
.haha {
    align-items: center;
    margin: auto;
}
.dowcv {
    text-decoration: none;
    color: azure;
}
#projects {
    display: flex;
    flex-direction: column;
}
#aboutme {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    opacity: 90%;
    margin-left: 50px;
}
.pho {
    height: 120px;
    margin-left: 150px;
}
.skillat {
    display: flex;
    gap: 10px;
}
.languages {
    border: 1px solid #506199;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}
.photo {
    height: 150px;
    margin-left: 220px;
}
.lan {
    font-size: 14px;
    color: azure;
    text-decoration: none;
    margin-right: 10px;
}